.home .home-header {
    height: 30px;
    border-bottom: 1px solid #eaebf2;
    display: flex;
    align-items: center;
}

.home .setting {
    margin-left: auto;
    cursor: pointer;
}
.home .pin {
    margin: 0 16px;
    cursor: pointer;
}

.home .close {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}

.home .close:hover {

    background-color: #e46855;
    
}

.home .close img {
    margin:  auto;
}

.home .min {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.home .min:hover {
    background-color: #e7e7e7;
}

.home .min::after {
    content: " ";
    width: 14px;
    height: 1px;
    background-color: #7c7c7f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .br {
    height: 50%;
    width: 1px;
    background-color: #e2e2e2;
}