.desktopCapturer {
    width: 100vw;
    height: 100vh;
    font-size: 0;
    position: relative;
}

.desktopCapturer div {
    position: absolute;
    /* background-color: red; */
    border: 1px solid red;
}

.desktopCapturer img {
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
}

.mark {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}